/* Definición de fuentes del proyecto */

@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato/Lato-Regular.ttf);
}

/* Estilos Globales */

a {
  text-decoration: none;
  color: black;
  font-family: "Lato";
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: "Raleway";
  font-size: 2.4rem;
  text-align: center;
  margin: 0 0 5rem 0;
}

p {
  font-family: "Lato";
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Formato del H1 del Header */

.nombre-sitio {
  font-family: "Raleway";
  font-size: 4.2rem;
  text-align: center;
  margin: 5rem;
}

.nombre-sitio span {
  color: #45b1e8;
  font-weight: bolder;
}

/** Menú de navegación principal **/

/* La clase CONTENEDOR-NAVEGACION crea un contenedor con todos los elementos de la barra de navegación para poder modificar su borde superior */

.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}

/* La clase NAVEGACION centra los elementos del menú de navegación usando FLEX */

.navegacion {
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-around;
}

/* Clase CONTENEDEOR permite centrar contenido en el navegador 
Los vamos a usar también para centrar los elementos de LISTADO-CATEGORIAS*/

.contenedor {
  max-width: 1200px;
  margin: 0rem auto;
}

/* Imagen fondo HERO */

.hero {
  background-image: url(/img/principal.jpg);
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/** Sección CATEGORÍA DE PRODUCTOS **/

/* Display sección CATEGORÍA DE PRODUCTOS usando GRID*/

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.categorias {
  padding-top: 5rem;
}

.categoria a {
  display: block;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.categoria a:hover {
  background-color: #45b1e8;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 1rem;
}

/* Sección SOBRE NOSOTROS */

.sobre-nosotros {
  min-height: 300px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.grid-sobrenosotros {
  min-height: 300px;
  background-color: #2377a1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img_sobrenosotros {
  background-image: url(/img/nosotros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -8rem;
}

.txt_sobrenosotros h2,
p {
  color: white;
  text-align: left;
  margin-left: 5rem;
  margin-right: 2rem;
}

.txt_sobrenosotros h2 {
  margin-top: 8rem;
}

.txt_sobrenosotros p {
  margin-bottom: 2rem;
}
